.bi:hover {
  color: dodgerblue;
  cursor: pointer;
}

.table {
  min-width: 300px;
}

.addButton {
  border-width: 0px;
  background-color: #0d6efd;
  color: white;
}

.addButton:hover {
  background-color: #0b5ed7;
  cursor: pointer;
  color: white;
}
